body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial;
  font-size: 12px;
  background-repeat: repeat;
  background-image: url(../img/bg-greylines.gif);
  background-color: #fff;
}
.topBar {
  width: 100%;
  height: 85px;
  background-repeat: no-repeat;
  background-color: #223e6e;
}
.logo_panel{
  width: 380px;
  color: white;
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 20px;
  float: left;
}
.logo_panel .top_title{
  font-size: 17px;
  margin-bottom: -5px;
  padding-left: 1px;
}
.logo_panel .second_title{
  font-size: 30px;
}
.back_home{
  position: relative;
  width: 220px;
  height: 50px;
  top:25px;
  left: 10px;
  cursor: pointer;
}
.panel-default {
  border-radius: 0;
  color: #084980;
}
.panel-morgan {
  border-radius: 0;
  background-color: #223e6e;
  color: #fff;
}
.panel-morgan .title,.container .title {
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(74,100,151);
}
.chart-panel-title{
  line-height: 30px;
  padding-top: 15px;
  padding-left: 18px;
}
.radio-container {
  margin: 10px 0;
}

.radio-container .radio-inline {

} 
.input-container {
  margin-top: 20px;
}
.input-container label{
  line-height: 24px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}
.input-container input{
  height: 24px;
  border-radius: 0;
  padding: 0;
}

.button-container button{
  border-radius: 0;
  color: #084980;
  width: 115px;
}
.date-container {
  font-size: 14px;
}

.date-container input {
  width: 100px;
}

.nav-tabs > li > a {
  border-radius: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #084980;
}

a {
  color: #084980;
}

.chart{
  margin-top: 15px;
  width: 810px;
  height: 400px;
}
.n_footerBg{background-color:#cdcfd1; height:30px; min-width:1003px;text-align: center;}
.n_footer{width:100%; *width:1003px; text-align:center; font-family:Arial; font-size:10px; color:#666666; padding-top:10px; padding-left:45px;}
