<div class="container" style="width:1280px">
  <div class="topBar">
    <div class="logo_panel">
      <p class="top_title">
        MSWM
      </p>
      <p class="second_title">
        Month End Prediction
      </p>
    </div>
    <div class="date-container" style="color:white;float:left;padding-top:43px;">
      <span>
        Model as of from
        <input id="fromAsOfDate" readonly="true" type="text" value="{{start_month}}" style="color:black;" />
        to
        <input id="toAsOfDate" type="text" readonly="true" value="{{end_month}}" style="color:black;"/>
      </span>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 30px; width:1280px;">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default panel-morgan">
        <div class="panel-body" style="padding-bottom:0px;">
          <div class="title">Navigation</div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked" role="tablist" style="max-width: 260px;">
            <li role="presentation">
              <a href="#/main">
                <span class="badge pull-right"></span>
                Current Prediction
              </a>
            </li>
            <li role="presentation" class="active">
              <a href="#history">Historical Trend</a>
            </li>
            <li role="presentation">
              <a href="#track">
                <span class="badge pull-right"></span>
                Predict Track
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="title panel-morgan chart-panel-title">Historical Trend</div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane" id="recent">
              <div id="recentChart" class="chart"></div>

            </div>
            <div class="tab-pane active" id="history">
              <div class="radio-container">
                <!-- <label class="label label-info" style="padding:3px 10px 3px 10px;margin:0 10px 0 10px;">From:</label> -->
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <label class="radio-inline">
                  <input type="radio" name="xmxtRadio" id="xtRadio" value="transaction" ng-model="current_data_src" ng-change="change_options()">Transaction</label>
                <label class="radio-inline">
                  <input type="radio" name="xmxtRadio" id="xmRadio" value="memos" ng-model="current_data_src" ng-change="change_options()">Memos</label>
                
              </div>
              <div class="radio-container">
                <!-- <label class="label label-info" style="padding:3px 15px 3px 16px;margin:0 10px 0 10px;">ME:</label> -->
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="radio-inline">
                  <input type="radio" name="meRadio" id="xmRadio1" value="mem1" ng-model="current_data_me" ng-change="change_options()">ME-1</label>
                <label class="radio-inline">
                  <input type="radio" name="meRadio" id="xtRadio2" value="me" ng-model="current_data_me" ng-change="change_options()">ME</label>
                <label class="radio-inline">
                  <input type="radio" name="meRadio" id="xtRadio3" value="mep1" ng-model="current_data_me" ng-change="change_options()">ME+1</label>
              </div>

              <div id="historyChart" class="chart"></div>
            </div>
            <div class="input-container">

              <table class="table .table-bordered .table-condensed" >
                <thead>
                  <tr>
                    <th>ME</th>
                    <th ng-repeat="m in months">{{m | month_cut}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Prediction(K)</th>
                    <th ng-repeat="r in results[0]">{{r}}</th>
                  </tr>
                  <tr>
                    <th>Actual(K)</th>
                    <th ng-repeat="r in results[1]">{{r}}</th>
                  </tr>
                  <tr>
                    <th>APE(%)</th>
                    <th ng-repeat="r in results[2]">{{r}}</th>
                  </tr>

                </tbody>
              </table>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>