  <div class="container">
    <div class="topBar">
      <a href="#/main">
      <div class="back_home">
      </div>
     </a>
    </div>
  </div>

  <div class="container" style="margin-top: 30px;">
    <div class="row">
      
      <div class="col-md-9">
        <div class="title panel-morgan chart-panel-title">Month End Prediction Tool</div>
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="date-container" style="margin-bottom: 15px;">
              <span>Prediction as of &nbsp;&nbsp;<input id="predAsOfDate" type="text" readonly="true" value="{{current_month}}"/></span>
            </div>
            <div class="date-container" style="margin-bottom: 20px;">
              <span>Model as of from <input id="fromAsOfDate" readonly="true" type="text" value="{{start_month}}"/> to <input id="toAsOfDate" type="text" readonly="true" value="{{end_month}}" /></span>
            </div>

            <ul class="nav nav-tabs" role="tablist" id="myTab">
              <li ><a href="#/main">Recent Prediction</a></li>
              <li class="active" ><a href="history" role="tab" data-toggle="tab">Historical Prediction</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane" id="recent">
                  <div id="recentChart" class="chart">
                    
                  </div>

              </div>
              <div class="tab-pane active" id="history">
                  <div id="historyChart" class="chart">
                    
                  </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-default panel-morgan">
          <div class="panel-body">
            <div class="title"></div>
            <div class="radio-container">
              <label class="radio-inline">
                
                <input type="radio" name="xmxtRadio" id="xmRadio" value="memos" ng-model="current_data_src" ng-change="change_options()">
                 Memos
              </label>
              <label class="radio-inline">
                <input type="radio" name="xmxtRadio" id="xtRadio" value="transaction" ng-model="current_data_src" ng-change="change_options()">
                 Transaction
              </label>
            </div>
            <div class="radio-container">
              <label class="radio-inline">
                
                <input type="radio" name="meRadio" id="xmRadio1" value="mem1" ng-model="current_data_me" ng-change="change_options()">
                 ME-1
              </label>
              <label class="radio-inline">
                <input type="radio" name="meRadio" id="xtRadio2" value="me" ng-model="current_data_me" ng-change="change_options()">
                 ME
              </label>
              <label class="radio-inline">
                <input type="radio" name="meRadio" id="xtRadio3" value="mep1" ng-model="current_data_me" ng-change="change_options()">
                 ME+1
              </label>
            </div>
            <!-- <div class="input-container">
              
              <div class="form-group" style="height: 20px;">
                <label for="meM" class="col-sm-3">ME-1</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="mem1" ng-model="mem1">
                </div>
              </div>

              <div class="form-group" style="height: 20px;">
                <label for="me" class="col-sm-3">ME</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="me" ng-model="me">
                </div>
              </div>

              <div class="form-group" style="height: 20px;">
                <label for="meP" class="col-sm-3">ME+1</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="mep1" ng-model="mep1">
                </div>
              </div>

            </div>
            <div class="button-container">
              <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="compare()">Compare</button>
                <button type="button" class="btn btn-default" ng-click="actual()">Actual</button>
              </div>
            </div> -->
          </div>
        </div>
      </div>

    </div>
  </div>
